@media (min-width: 1025px) {
  .h-custom {
    height: 100vh !important;
  }
}
.button-buy-fast {
  background: var(--main-color);
  border: none;
  color: #fff;
  padding: 10px 0px 10px;
  width: 100%;
  cursor: pointer;
  transition: 0.2s;
  border: 1px solid var(--main-color);
  font-size: 16px;
  background: #fff;
  color: #222;
  border: 1px solid #fce0b7c7;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.bg-grey {
  background-color: #eae8e8;
}

@media (min-width: 992px) {
  .card-registration-2 .bg-grey {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

@media (max-width: 991px) {
  .card-registration-2 .bg-grey {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
