<app-header></app-header>
  <button [routerLink]="'/create-team'" class="btn btn-dark ml-5">Quay lại</button>
<div *ngIf="check2;then checked1 else checked2" class="container-fuild">

</div>
  <ng-template #checked2>
    <div class="table-responsive container">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-5">
              <h2>{{ title }}</h2>
            </div>
            <div class="col-sm-7"></div>
          </div>
        </div>
        <div class="table-container">
          <table class="table table-striped table-hover">
            <thead class="text-center">
              <tr>
                <th *ngFor="let theadItem of theadTable">{{ theadItem }}</th>
              </tr>
            </thead>
            <!-- class="{{ post.status === 'pending' ? 'bg-FFAF40' : 'bg-red' }}" -->
            <!--  -->
            <tbody>
              <tr *ngFor="let post of newResult; let i = index">
                <td>{{ i + 1 }}</td>

                <td class="text-center">
                  {{ post.nameTeam }}
                </td>
                <td class="text-center">{{ post.phone }}</td>
                <td class="text-center">{{ post.level }}</td>
                <td class="text-center">{{ post.age }}</td>

                <td class="d-flex justify-content-center">
                  <div
                    *ngIf="post.accepted == null"
                    class="d-flex justify-content-center gap-3"
                  >
                    <button
                    *ngIf="checkShowHide"
                      (click)="actionOnInvite(post.id, 1)"
                      class="delete text-danger btn btn-success text-white"
                    >
                      đồng ý
                    </button>
                    <button
                    *ngIf="checkShowHide"

                      (click)="actionOnInvite(post.id, 2)"
                      class="delete text-white btn btn-danger text-white"
                    >
                      từ chối
                    </button>
                  </div>
                  <div *ngIf="post.accepted === true">
                    <button class="delete text-danger btn btn-success text-white">
                      đã đồng ý
                    </button>
                  </div>
                  <div *ngIf="post.accepted === false">
                    <button class="delete text-danger btn btn-danger text-white">
                      đã từ chối
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #checked1>
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-5">
              <h2>{{ title2 }}</h2>
            </div>
            <div class="col-sm-7"></div>
          </div>
        </div>
        <div class="table-container">
          <table class="table table-striped table-hover">
            <thead class="text-center">
              <tr>
                <th *ngFor="let theadItem of theadTable2">{{ theadItem }}</th>
              </tr>
            </thead>
            <!-- class="{{ post.status === 'pending' ? 'bg-FFAF40' : 'bg-red' }}" -->
            <!--  -->
            <tbody>
              <tr *ngFor="let post of inviteMe; let i = index">
                <td>{{ i + 1 }}</td>

                <td class="text-center">
                  {{ post.name }}
                </td>
                <td class="text-center">{{ post.level }}</td>
                <td class="text-center">{{ post.age }}</td>
                <td class="text-center">{{ post.phone }}</td>
                <td class="text-center">{{ post.nameMyTeam }}</td>
                <td class="d-flex justify-content-center">
                  <div

                    class=""
                  >
                  <button [routerLink]="'/details/' + post.teamId" class="delete text-danger btn btn-success text-white">
                    chi tiết team mời
                  </button>
                  <button [routerLink]="'/details/' + post.myTeamId" class="delete text-white btn btn-danger text-white">
                    chi tiết team được mời
                  </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </ng-template>

