.white-bg .swal2-popup {
  background-color: #ffffff !important; /* Đặt màu nền là màu trắng */
}
.table-responsive {
  margin: 30px 0;
}
.table-wrapper {
  width: 100%;
  background: #fff;
  padding: 20px 25px;
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.table-title {
  background: #299be4;
  color: #fff;
  padding: 16px 30px 15px;
  margin: -20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table-title h2 {
  margin: 5px 0 0;
  font-size: 24px;
}
.table-title .btn {
  color: #566787;
  float: right;
  font-size: 13px;
  background: #fff;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  outline: none !important;
  margin-left: 10px;
}
.table-title .btn:hover,
.table-title .btn:focus {
  color: #566787;
  background: #f2f2f2;
}
.table-title .btn i {
  float: left;
  font-size: 21px;
  margin-right: 5px;
}
.table-title .btn span {
  float: left;
  margin-top: 2px;
}

.table-container {
  overflow-x: scroll;
  width: 100%;
}

table.table tr th,
table.table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
  min-width: 160px;
}
table.table tr th:first-child {
  width: 60px;
}
table.table tr th:first-child,
table.table tr td:first-child {
  width: 60px;
}
table.table tr th:last-child {
  width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
  background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
  background: #f5f5f5;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table td:last-child i {
  opacity: 0.9;
  font-size: 22px;
  margin: 0 5px;
}
table.table td a {
  font-weight: bold;
  color: #566787;
  display: inline-block;
  text-decoration: none;
}
table.table td a:hover {
  color: #2196f3;
}
table.table td a.settings {
  color: #2196f3;
}
table.table td a.delete {
  color: #f44336;
}
table.table td i {
  font-size: 19px;
}
table.table .avatar {
  border-radius: 100%;
  vertical-align: middle;
  margin-right: 10px;
  height: 64px;
  width: 64px;
  object-fit: cover;
}
.status {
  font-size: 16px;
  padding: 4px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
}
.text-success {
  color: #fff !important;
  background-color: #0397d6;
}
.text-info {
  color: #62c9e8;
}
.text-warning {
  color: #ffc107;
}
.text-danger {
  color: #ff5b5b;
}
.pagination {
  float: right;
  margin: 0 0 5px;
}
.pagination li a {
  border: none;
  font-size: 13px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 2px !important;
  text-align: center;
  padding: 0 6px;
}
.pagination li a:hover {
  color: #666;
}
.pagination li.active a,
.pagination li.active a.page-link {
  background: #03a9f4;
  color: #fff;
}
.pagination li.active a:hover {
  background: #0397d6;
}
.pagination li.disabled i {
  color: #ccc;
  user-select: none;
}
.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}
.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 13px;
}

.post__image-group {
  display: grid;
  width: 300px;
  grid-template-columns: repeat(2, 1fr);
  .post__image-wrapper {
    height: 120px;
    width: 120px;
    .post__image {
      height: 120px;
      width: 120px;
      border-radius: 8px;
      object-fit: cover;
    }
  }
}

.content-detail-posts {
  .content-posts {
    width: 70%;
  }
}

@media (max-width: 768px) {
  .content-detail-posts {
    .content-posts {
      width: 100%;
    }
  }
}

.post__image-preview {
  border-radius: 12px;
}
