<div class="container">
  <div class="row g-5">
    <div class="col-6 text-capitalize">
      <h2>Thêm sân</h2>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end align-items-center">
        <a routerLink="/admin/manager-product">Quay lại</a>
      </div>
    </div>
  </div>
  <div class="row p-2">
    <div class="col">
      <form
        class="mt-5 form"
        [formGroup]="postForm"
        (submit)="handleSubmitPostForm()"
      >
        <div class="row g-5">
          <div class="col-6">
            <mat-form-field class="form__field">
              <mat-label>Tên sân bóng</mat-label>
              <input type="text" matInput formControlName="title" />
            </mat-form-field>
            <div
              *ngIf="
                postForm.get('title')?.invalid &&
                (postForm.get('title')?.dirty || postForm.get('title')?.touched)
              "
              class="text-danger"
            >
              <div *ngIf="postForm.get('title')?.errors?.['required']">
                Tên sân bóng là bắt buộc.
              </div>
              <div *ngIf="postForm.get('title')?.errors?.['minlength']">
                Tên sân bóng ít nhất 4 kí tự
              </div>
            </div>
          </div>
          <div class="col-6">
            <mat-form-field class="form__field">
              <mat-label>địa chỉ</mat-label>
              <input type="text" matInput formControlName="address" />
            </mat-form-field>
            <div
              *ngIf="
                postForm.get('address')?.invalid &&
                (postForm.get('address')?.dirty || postForm.get('address')?.touched)
              "
              class="text-danger"
            >
              <div *ngIf="postForm.get('address')?.errors?.['required']">
                Địa chỉ là bắt buộc.
              </div>
              <div *ngIf="postForm.get('address')?.errors?.['minlength']">
                Địa chỉ ít nhất 4 kí tự
              </div>
            </div>
          </div>
          <!-- <div class="col-6">
            <mat-form-field class="form__field">
              <mat-label>Danh mục </mat-label>
              <mat-select formControlName="category">
                <mat-option
                  *ngFor="let category of categories"
                  [value]="category._id"
                  >{{ category.name }}</mat-option
                >
              </mat-select>
            </mat-form-field>
            <div
              *ngIf="
                postForm.get('category')?.invalid &&
                (postForm.get('category')?.dirty ||
                  postForm.get('category')?.touched)
              "
              class="text-danger"
            >
              <div *ngIf="postForm.get('category')?.errors?.['required']">
                Danh mục là bắt buộc.
              </div>
            </div>
          </div> -->

          <!-- <div class="col-6">
            <mat-radio-group
              aria-label="Trạng thái bài post"
              formControlName="is_active"
            >
              <mat-radio-button value="public" selected
                >Public</mat-radio-button
              >
              <mat-radio-button value="private">Private</mat-radio-button>
            </mat-radio-group>
            <div
              *ngIf="
                postForm.get('status')?.invalid &&
                (postForm.get('status')?.dirty ||
                  postForm.get('status')?.touched)
              "
              class="text-danger"
            >
              <div *ngIf="postForm.get('status')?.errors?.['required']">
                Trạng thái sản phẩm là bắt buộc
              </div>
            </div>
          </div> -->

          <!-- <div class="col-6">
            <mat-form-field class="form__field">
              <mat-label>Duyệt sản phẩm</mat-label>
              <mat-select formControlName="status">
                <mat-option value="pending">Pending</mat-option>
                <mat-option value="approved">Approved</mat-option>
                <mat-option value="rejected">Reject</mat-option>
              </mat-select>
            </mat-form-field>
          </div> -->
          <div class="col-6">
            <mat-form-field class="form__field">
              <mat-label>Giá </mat-label>
              <input type="price" matInput formControlName="price" />
            </mat-form-field>
            <div
              *ngIf="
                postForm.get('price')?.invalid &&
                (postForm.get('price')?.dirty || postForm.get('price')?.touched)
              "
              class="text-danger"
            >
              <div *ngIf="postForm.get('price')?.errors?.['required']">
                Giá sản phẩm là bắt buộc.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-5">
            <input
              class="form-control"
              type="file"
              accept="image/*"
              id="formFileMultiple"
              formControlName="images"
              multiple
              (change)="handleFileInput($event)"
            />
            <div
              *ngIf="
                postForm.get('images')?.invalid &&
                (postForm.get('images')?.dirty ||
                  postForm.get('images')?.touched)
              "
              class="text-danger"
            >
              <div *ngIf="postForm.get('images')?.errors?.['required']">
                Ảnh sản phẩm là bắt buộc
              </div>
            </div>
          </div>
          <div class="image-preview" *ngIf="imagePreviews.length > 0">
            <div class="preview-container" *ngFor="let image of imagePreviews">
              <div
                class="preview-remove"
                (click)="handleRemoveImage(image.public_id)"
              >
                <i class="fa-solid fa-circle-xmark"></i>
              </div>
              <img [src]="image.url" class="preview-image" alt="image" />
            </div>
          </div>
        </div>
        <p>Mô tả sản phẩm</p>
        <div class="form-group mb-1">
          <ckeditor
            [editor]="Editor"
            formControlName="content"
            (ready)="onEditorReady($event)"
          >
          </ckeditor>
          <div
            *ngIf="
              postForm.get('content')?.invalid &&
              (postForm.get('content')?.dirty ||
                postForm.get('content')?.touched)
            "
            class="text-danger"
          >
            <div *ngIf="postForm.get('content')?.errors?.['required']">
              Mô tả là bắt buộc
            </div>
          </div>
        </div>
        <button
          type="submit"

          class="btn btn-primary d-flex justify-content-center align-items-center w-100"
        >
          <i class="fa-solid fa-plus mx-2"></i>
          <span>Thêm</span>
        </button>
      </form>
    </div>
  </div>
</div>
<!--   [disabled]="postForm.invalid" -->
