.form {
  width: 100%;
  .form__input {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 16px;
    &:focus {
      outline: none;
      border: 1px solid green;
    }
  }
  &__field {
    width: 100%;
  }
  .image-preview {
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 50px;
    .preview-container {
      position: relative;
      .preview-remove {
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgb(255, 150, 150);
        color: white;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        cursor: pointer;
      }
      .preview-image {
        width: 160px;
        height: 160px;
        border-radius: 100%;
        object-fit: cover;
      }
    }
  }
}

:host ::ng-deep .ck-editor__editable_inline {
  min-height: 300px;
}
.mat-mdc-option.selected-item {
  color: red !important;
}
.mat-mdc-option.selected-item .mdc-list-item__primary-text {
  color: red !important;
}
.drawer {
  position: fixed;
  top: 0;
  right: -800px; /* Drawer ẩn ban đầu */
  width: 800px;
  height: 100%;
  background-color: rgb(190 190 190);
  transition: right 0.3s ease;
  z-index: 999;
}

.drawer.opened {
  right: 0; /* Hiện drawer khi có class opened */
  z-index: 9999999999999999999;
}
.drawer-content {
  padding: 20px;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: red;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  align-items: center;
}
h3 {
  color: white !important;
}
.xass {
  border-bottom: 1px solid black;
}
.fromt_add_service {
  width: 80%;
  margin: 0 auto;
}
