<div class="container">
  <h1 class="mt-5">Change Password</h1>
  <form [formGroup]="userPasswordChange" id="changePasswordForm" (ngSubmit)="changePassWord()">
    <div class="mb-3">
      <label for="oldPassword" class="form-label" formControlName="oldPassword">Old Password</label>
      <input type="password" class="form-control" id="oldPassword" name="oldPassword" formControlName="oldPassword" required>
    </div>
    <div class="mb-3">
      <label for="newPassword" class="form-label">New Password</label>
      <input type="password" class="form-control" id="newPassword" name="newPassword" formControlName="newPassword" required>
    </div>
    <div class="mb-3">
      <label for="confirmPassword" class="form-label">Confirm New Password</label>
      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" formControlName="confirmPassword" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
