<footer>
  <div class="container">
    <div class="top-ft cls">
      <div class="top-ft-l">
        <img
          width=""
          height=""
          class="logo_footer lazy after-lazy"
          alt="Ankaza.vn"
          style="opacity: 1; display: none"
          src="https://datsantructuyen.vn/images/config/logo_chan_1658658538.png"
        />
        <div class="share_fast">
          <div class="clear"></div>
        </div>
      </div>
      <div class="top-ft-c">
        <ul class="menu-bottom">
          <li class="level0 first-item">
            <span class="click-mobile" data-id="menu-sub1"></span>
            <p class="text-black font-normal text-xl uppercase">
              Quick links
            </p>
            <div id="menu-sub1">
              <li class="level1 first-sitem">
                <p class="text-black font-normal text-md"
                >
                  Về chúng tôi
                </p>
              </li>
              <li class="level1 mid-sitem">
                <p class="text-black font-normal text-md"
                >
                  Đăng ký Hợp tác
                </p>
              </li>
              <li class="level1 mid-sitem">
                <p class="text-black font-normal text-md"
                >
                  Blog - tin tức
                </p>
              </li>
              <li class="level1 mid-sitem">
                <p class="text-black font-normal text-md"
                >
                  Site maps
                </p>
              </li>
            </div>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <div class="top-ft-c2">
        <div class="title">Thông tin liên hệ</div>
        <div class="footer_info">
          <p>Địa chỉ: CT4-3 KĐT&nbsp;Mễ Trì Hạ, Nam Từ Liêm, Hà Nội</p>
          <p>Điện thoại: 0944.944.995</p>
          <p>Email: Top10thethao@gmail.com</p>
        </div>
      </div>
      <div class="top-ft-r">
        <div class="title">Chỉ đường</div>
        <a href="https://datsantructuyen.vn/lien-he.html" title="Chỉ đường"
          ><img
            width="381"
            height="170"
            class="lazy img-map after-lazy pr-3"
            alt="Chỉ đường"
            style="opacity: 1; display: none"
            src="https://datsantructuyen.vn/images/config/logo-1-_1662467827.jpg"
        /></a>
      </div>
    </div>
    <div class="coppy-right">© All rights reserved 2024 DATSANTRUCTUYEN.</div>
  </div>
</footer>
