<div class="container">
  <div class="row g-5">
    <div class="col-6 text-capitalize">
      <h2>Sửa khu vực</h2>
    </div>
    <div class="col-6">
      <div class="d-flex justify-content-end align-items-center">
        <a routerLink="/admin/manager-categories">Quay lại</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form (submit)="handleSubmitEditCategoryForm()" [formGroup]="editForm" class="mt-5 form">
        <div class="form-group mb-5">
          <input type="text" placeholder="Tên khu vực" formControlName="name" class="form__input">
          <div *ngIf="editForm.get('name')?.invalid && (editForm.get('name')?.dirty || editForm.get('name')?.touched)"
            class="text-danger">
            <div *ngIf="editForm.get('name')?.errors?.['required']">
              Name is required.
            </div>
            <div *ngIf="editForm.get('name')?.errors?.['minlength']">
              Name must be at least 4 characters long.
            </div>
            <div *ngIf="editForm.get('name')?.errors?.['forbiddenName']">
              Name cannot be Bob.
            </div>
          </div>
        </div>
        <div class="form-group mb-5">
          <input type="text" placeholder="description" formControlName="description" class="form__input">
          <div *ngIf="editForm.get('description')?.invalid && (editForm.get('description')?.dirty || editForm.get('description')?.touched)"
            class="text-danger">
            <div *ngIf="editForm.get('description')?.errors?.['required']">
              description is required.
            </div>
            <div *ngIf="editForm.get('name')?.errors?.['minlength']">
              description must be at least 4 characters long.
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="editForm.invalid"
          class="btn btn-primary d-flex justify-content-between align-items-center">
          <i class="fa-solid fa-save me-3"></i>
          <span>Sửa</span>
        </button>
      </form>
    </div>
  </div>
</div>
