<div class="container">
  <div class="div">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th *ngFor="let theadItem of theadTable">{{ theadItem }}</th>
        </tr>
      </thead>
      <tbody *ngIf="posts.length > 0">
        <tr *ngFor="let post of posts; let i = index" class="{{post.status === 'pending' ? 'bg-danger' : 'bg-red'}}">
          <td>{{ i + 1 }}</td>
          <td class="text-truncate">
            <p class="text-truncate">{{ post.title }}</p>
          </td>
          <td>{{ post.category.name }}</td>
          <td>
            <span class="text-light p-1 rounded {{
                          post.is_active === true ? 'bg-success' : 'bg-danger'
                        }}">
              {{ post.is_active ? 'public' : 'private' }}
            </span>
          </td>
          <td>
            <span>{{ post.status }}</span>
          </td>
          <td>
            <button class="text-primary mx-2" (click)="undoDeletePost(post.id!)">
              <i class="fa-solid fa-arrow-rotate-left"></i>
            </button>
            <button class="delete text-danger mx-2" (click)="deletePost(post.id!)">
              <i class="fa-sharp fa-solid fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
