.content-detail-posts {
  .content-posts {
    width: 70%;
  }
  .avatar {
    max-height: 100px;
    object-fit: cover;
    border-radius: 100%;
  }
}

@media (max-width: 768px) {
  .content-detail-posts {
    .content-posts {
      width: 100%;
    }
  }
}
