<!-- Modal -->
<div class=" modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">{{titleModal}}</h1>
      </div>
      <div class="modal-body">
        <div *ngIf="postInfo">
          <section class="content-detail-posts my-5">
            <div class="row align-items-center mb-5">
              <div class="col-sm-12 col-lg-6">
                <div class="main-img">
                  <img [src]="postInfo.images[0].url" alt="" />
                </div>
              </div>
              <div class="col-sm-12 col-lg-6">
                <div class="info">
                  <div class="tag mb-2">
                    <span class="d-inline-block font-600 bg-F3EDFF text-6B6B6B rounded-4 text-sm px-3">Kiến thức</span>
                  </div>
                  <div class="title mb-3">
                    <h1 class="text-23BB86 font-600">
                      Hướng dẫn setup phòng cực chill dành cho người mới toàn tập
                    </h1>
                  </div>
                  <div class="d-flex align-items-center gap-3">
                    <span class="text-6B6B6B text-sm font-600">Mar 23</span>
                    <span class="d-inline-block rounded-circle"
                      style="width: 6px; height: 6px; background: #b1b5c3"></span>
                    <span class="text-6B6B6B text-sm font-600">Andiez Le</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-posts mx-auto">
              <div class="content">
                <h2 class="text-2xl font-600 mb-3">Chương 1</h2>
                <p class="text-xl font-500">
                  Gastronomy atmosphere set aside. Slice butternut cooking home. Delicious
                  romantic undisturbed raw platter will meld. Thick Skewers skillet
                  natural, smoker soy sauce wait roux. slices rosette bone-in simmer
                  precision alongside baby leeks. Crafting renders aromatic enjoyment,
                  then slices taco. Minutes undisturbed cuisine lunch magnificent mustard
                  curry. Juicy share baking sheet pork. Meals ramen rarities selection,
                  raw pastries richness magnificent atmosphere. Sweet soften dinners,
                  cover mustard infused skillet, Skewers on culinary experience.
                </p>
                <p class="text-xl font-500">
                  Juicy meatballs brisket slammin' baked shoulder. Juicy smoker soy sauce
                  burgers brisket. polenta mustard hunk greens. Wine technique snack
                  skewers chuck excess. Oil heat slowly. slices natural delicious, set
                  aside magic tbsp skillet, bay leaves brown centerpiece. fruit soften
                  edges frond slices onion snack pork steem on wines excess technique cup;
                  Cover smoker soy sauce fruit snack. Sweet one-dozen scrape delicious,
                  non sheet raw crunch mustard. Minutes clever slotted tongs scrape, brown
                  steem undisturbed rice.
                </p>
                <p class="text-xl font-500">
                  Food qualities braise chicken cuts bowl through slices butternut snack.
                  Tender meat juicy dinners. One-pot low heat plenty of time adobo fat raw
                  soften fruit. sweet renders bone-in marrow richness kitchen, fricassee
                  basted pork shoulder. Delicious butternut squash hunk. Flavor
                  centerpiece plate, delicious ribs bone-in meat, excess chef end. sweet
                  effortlessly pork, low heat smoker soy sauce flavor meat, rice fruit
                  fruit. Romantic fall-off-the-bone butternut chuck rice burgers.
                </p>
                <img src="./assets/images/main-img.png" alt="" class="mb-4" />
                <h2 class="text-2xl font-600 mb-3">Chương 2</h2>
                <p class="text-xl font-500 mb-5">
                  Gastronomy atmosphere set aside. Slice butternut cooking home. Delicious
                  romantic undisturbed raw platter will meld. Thick Skewers skillet
                  natural, smoker soy sauce wait roux. slices rosette bone-in simmer
                  precision alongside baby leeks. Crafting renders aromatic enjoyment,
                  then slices taco. Minutes undisturbed cuisine lunch magnificent mustard
                  curry. Juicy share baking sheet pork. Meals ramen rarities selection,
                  raw pastries richness magnificent atmosphere. Sweet soften dinners,
                  cover mustard infused skillet, Skewers on culinary experience.
                </p>
              </div>
              <div class="author">
                <div class="row align-items-center">
                  <div class="col-sm-12 col-md-4 mb-4">
                    <div class="img">
                      <img src="./assets/images/author.png" alt="" class="mx-auto" />
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-8">
                    <div class="infomation">
                      <div class="name mb-3">
                        <h3 class="text-23BB86 font-600 text-2xl">Jake Sullivan</h3>
                      </div>
                      <div class="quote">
                        <p>
                          Gastronomy atmosphere set aside. Slice butternut cooking home.
                          Delicious romantic undisturbed raw platter will meld. Thick
                          Skewers skillet natural, smoker soy sauce wait roux. Gastronomy
                          atmosphere set aside. Slice butternut cooking home.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>