<!-- <div class="slider d-flex align-items-center my-5">
  <div class="row justify-content-between align-items-center px-5">
    <div class="col-sm-12 col-md-5">
      <h1 class="text-white text-5xl font-700 mb-4">Sân Bóng Hà Nội</h1>
      <p class="text-sm text-white mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
      <a routerLink="/blog" class="d-inline-block text-decoration-none">
        <button
          class="btn-get-started bg-light font-600 text-23BB86 text-xl rounded"
        >
        Chi tiết
        </button>
      </a>
    </div>
    <div
      class="img-slider col-sm-0 col-md-5 d-flex justify-content-center align-items-center"
    >
      <img
        [width]="508"
        [height]="414"
        src="../../../assets/images/pexels-photo-3651674.jpeg"
        alt=""
        style="object-fit: cover"
      />
    </div>
  </div>
</div> -->

<div
  style="margin-bottom: 50px ; "
  nh-row="ph9iy3x"
  class="overflow-hidden mt-3 box-slider "
>
  <div class="container">


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img  style="height: 800px;"  src="https://img.thegioithethao.vn/media/banner/slider.webp" class="d-block w-100" alt="22">
    </div>
    <div class="carousel-item">
      <img   style="height: 800px;"    src="https://nld.mediacdn.vn/2018/6/2/mordovia-arena-saransk-1527915860667205779137.jpg" class="d-block w-100" alt="33">
    </div>
    <div class="carousel-item">
      <img   style="height: 800px;"    src="https://static-images.vnncdn.net/files/publish/2023/2/13/san-bong-ha-giang-763.jpg" class="d-block w-100" alt="3332">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
  </div>
</div>

    <!-- <div class="row">
      <div class="">
        <div nh-block="j35q7b6" nh-block-cache="true" class="">
          <div
            class="swiper swiper-slider-main swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
            nh-swiper='{"slidesPerView":1,"loop":false,"lazy":true,"autoplay":{"delay":5000,"disableOnInteraction":true,"pauseOnMouseEnter":true},"pagination":{"el":".swiper-pagination","clickable":true},"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"}}'
          >
            <div
              class="swiper-wrapper"
              id="swiper-wrapper-458a5c6aac8691df"
              aria-live="off"
              style="
                transition-duration: 0ms;
                transform: translate3d(0px, 0px, 0px);
              "
            >
              <div
                class="swiper-slide swiper-slide-active"
                role="group"
                aria-label="1 / 1"
                style="width: 100%"
              >
                <div class="img">
                  <img
                    src="https://img.thegioithethao.vn/media/banner/slider.webp"
                    class="img-fluid"
                    style="display:block;width:100%"
                    alt="banner"
                  />
                </div>
              </div>
            </div>
            <div
              class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"
            >
              <span
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
                tabindex="0"
                role="button"
                aria-label="Go to slide 1"
                aria-current="true"
              ></span>
            </div>

            <div
              class="swiper-button-next swiper-button-disabled swiper-button-lock"
              tabindex="-1"
              role="button"
              aria-label="Next slide"
              aria-controls="swiper-wrapper-458a5c6aac8691df"
              aria-disabled="true"
            >
              <i class="iconsax isax-arrow-right-3"></i>
            </div>
            <div
              class="swiper-button-prev swiper-button-disabled swiper-button-lock"
              tabindex="-1"
              role="button"
              aria-label="Previous slide"
              aria-controls="swiper-wrapper-458a5c6aac8691df"
              aria-disabled="true"
            >
              <i class="iconsax isax-arrow-left-2"></i>
            </div>
            <span
              class="swiper-notification"
              aria-live="assertive"
              aria-atomic="true"
            ></span>
          </div>
        </div>
      </div>
    </div> -->
