<!-- <div class="slider d-flex align-items-center my-5">
  <div class="row justify-content-between align-items-center px-5">
    <div class="col-sm-12 col-md-5">
      <h1 class="text-white text-5xl font-700 mb-4">Sân Bóng Hà Nội</h1>
      <p class="text-sm text-white mb-5">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi.
      </p>
      <a routerLink="/blog" class="d-inline-block text-decoration-none">
        <button
          class="btn-get-started bg-light font-600 text-23BB86 text-xl rounded"
        >
        Chi tiết
        </button>
      </a>
    </div>
    <div
      class="img-slider col-sm-0 col-md-5 d-flex justify-content-center align-items-center"
    >
      <img
        [width]="508"
        [height]="414"
        src="../../../assets/images/pexels-photo-3651674.jpeg"
        alt=""
        style="object-fit: cover"
      />
    </div>
  </div>
</div> -->

<div
  style="margin-bottom: 50px ; "
  nh-row="ph9iy3x"
  class="overflow-hidden mt-3 box-slider "
>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-12">
        <div nh-block="j35q7b6" nh-block-cache="true" class="">
          <div
            class="swiper swiper-slider-main swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden"
            nh-swiper='{"slidesPerView":1,"loop":false,"lazy":true,"autoplay":{"delay":5000,"disableOnInteraction":true,"pauseOnMouseEnter":true},"pagination":{"el":".swiper-pagination","clickable":true},"navigation":{"nextEl":".swiper-button-next","prevEl":".swiper-button-prev"}}'
          >
            <div
              class="swiper-wrapper"
              id="swiper-wrapper-458a5c6aac8691df"
              aria-live="off"
              style="
                transition-duration: 0ms;
                transform: translate3d(0px, 0px, 0px);
              "
            >
              <div
                class="swiper-slide swiper-slide-active"
                role="group"
                aria-label="1 / 1"
                style="width: 847px"
              >
                <div class="img ratio-16-9">
                  <img
                    src="https://img.thegioithethao.vn/media/banner/slider.webp"
                    class="img-fluid"
                    alt="banner"
                  />
                </div>
              </div>
            </div>
            <!-- If we need pagination -->
            <div
              class="swiper-pagination swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-lock"
            >
              <span
                class="swiper-pagination-bullet swiper-pagination-bullet-active"
                tabindex="0"
                role="button"
                aria-label="Go to slide 1"
                aria-current="true"
              ></span>
            </div>
            <!-- If we need navigation buttons -->
            <div
              class="swiper-button-next swiper-button-disabled swiper-button-lock"
              tabindex="-1"
              role="button"
              aria-label="Next slide"
              aria-controls="swiper-wrapper-458a5c6aac8691df"
              aria-disabled="true"
            >
              <i class="iconsax isax-arrow-right-3"></i>
            </div>
            <div
              class="swiper-button-prev swiper-button-disabled swiper-button-lock"
              tabindex="-1"
              role="button"
              aria-label="Previous slide"
              aria-controls="swiper-wrapper-458a5c6aac8691df"
              aria-disabled="true"
            >
              <i class="iconsax isax-arrow-left-2"></i>
            </div>
            <span
              class="swiper-notification"
              aria-live="assertive"
              aria-atomic="true"
            ></span>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-12">
        <div nh-block="3mlaijh" nh-block-cache="true" class="">
          <div class="slider__banner-right">
            <div class="item-banner">
              <div class="banner ratio-16-9">
                <img
                  class="img-fluid"
                  src="https://img.thegioithethao.vn/media/logo/icon-logo.webp"
                  alt="VBE Star Blue"
                />
              </div>
              <div class="content">
                <div class="row mx-0">
                  <div class="col-lg-7 col-12 px-0">
                    <div class="info">
                      <a href="/" title="VBE Star Blue" class="active">
                        <div class="name">VBE Star Blue</div>
                        <div class="description">Giảm ngay</div>
                        <div class="description-short">15K</div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-5 col-12 px-0">
                    <div class="img ratio-1-1">
                      <a href="/" title="VBE Star Blue" class="active"
                        ><img
                          src="https://img.thegioithethao.vn/media/banner/bong-da.webp"
                          class="img-fluid rti-abs-contain"
                          alt="VBE Star Blue"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item-banner">
              <div class="banner ratio-16-9">
                <img
                  class="img-fluid"
                  src="https://img.thegioithethao.vn/media/logo/icon-logo.webp"
                  alt="Puma Z 3.1 TT"
                />
              </div>
              <div class="content">
                <div class="row mx-0">
                  <div class="col-lg-7 col-12 px-0">
                    <div class="info">
                      <a href="/" title="Puma Z 3.1 TT" class="active">
                        <div class="name">Puma Z 3.1 TT</div>
                        <div class="description">Tặng Voucher</div>
                        <div class="description-short">100K</div>
                      </a>
                    </div>
                  </div>
                  <div class="col-lg-5 col-12 px-0">
                    <div class="img ratio-1-1">
                      <a href="/" title="Puma Z 3.1 TT" class="active"
                        ><img
                          src="https://img.thegioithethao.vn/media/banner/giay.webp"
                          class="img-fluid rti-abs-contain"
                          alt="Puma Z 3.1 TT"
                      /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div nh-row="mcei0nx" class="box-slider box-slider-02 pb-20 overflow-hidden">
  <div class="container">
    <div class="row">
      <div  class="col-md-4 col-12 ">
        <div nh-block="aj2q38p" nh-block-cache="false" class="product-viewed bg-light">
          <div class="title-link-all">
            <h3 class="title-section text-left mb-0">
              Sản phẩm đã xem gần đây
            </h3>
            <a href="/" class="active">Xem tất cả</a>
          </div>
          <div class="mb-4">Không có dữ liệu</div>
        </div>
      </div>
      <div class="col-md-8 col-12">
        <div nh-block="0yew9rf" nh-block-cache="true" class="">
          <div class="section-product-hot-slider">
            <div class="row">
              <div class="col-lg-6">
                <div class="product-item">
                  <div class="banner ratio-16-9">
                    <img
                      class="img-fluid"
                      src="https://img.thegioithethao.vn/media/icon/icon-logo-resize_1.webp"
                      alt=""
                    />
                  </div>
                  <div class="info">
                    <div class="row mx-0 align-items-center">
                      <div class="col-lg-6 col-12 px-0">
                        <div class="inner-content">
                          <div class="product-title">
                            <a href="/" class="active">VBE Star Blue</a>
                          </div>
                          <div class="view-all">
                            <a href="/" class="active"
                              >Xem chi tiết<i class="fa-solid fa-arrow-right"></i></a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12 px-0">
                        <div class="inner-image">
                          <div class="ratio-4-3">
                            <a href="/" title="VBE Star Blue" class="active"
                              ><img
                                src="https://img.thegioithethao.vn/media/banner/bong-da.webp"
                                class="img-fluid rti-abs-contain"
                                alt="VBE Star Blue"
                            /></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="product-item">
                  <div class="banner ratio-16-9">
                    <img
                      class="img-fluid"
                      src="https://img.thegioithethao.vn/media/icon/icon-logo-resize_1.webp"
                      alt=""
                    />
                  </div>
                  <div class="info">
                    <div class="row mx-0 align-items-center">
                      <div class="col-lg-6 col-12 px-0">
                        <div class="inner-content">
                          <div class="product-title">
                            <a href="/" class="active">Puma Z 3.1 TT</a>
                          </div>
                          <div class="view-all">
                            <a href="/" class="active"
                              >Xem chi tiết<i class="fa-solid fa-arrow-right"></i>
                            </a>
                          </div>
                        </div>
                      </div>
                      <div class="col-lg-6 col-12 px-0">
                        <div class="inner-image">
                          <div class="ratio-4-3">
                            <a href="/" title="Puma Z 3.1 TT" class="active"
                              ><img
                                src="https://img.thegioithethao.vn/media/banner/giay.webp"
                                class="img-fluid rti-abs-contain"
                                alt="Puma Z 3.1 TT"
                            /></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
