// .slider {
//   width: 100%;
//   height: 519px;
//   background: linear-gradient(155deg, #00b4aa 6.67%, #a4d96c 84.1%);
//   .btn-get-started {
//     width: 230px;
//     height: 59px;
//   }
// }

// @media (max-width: 768px) {
//   .img-slider {
//     display: none !important;
//   }
// }
